<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BOARD REGISTER FORM</title>
</head>

<style>

    .layout {
        width: 400px;
        margin: 0 auto;
        margin-top:40px;
    }
    .layout  input{
        width: 100%;
        box-sizing: border-box;
    }
    .layout  textarea{
        width: 100%;
        min-height : 300px;
        margin-top: 10px;

    }

</style>
<body>
<div class="layout">
    <form action="/board/writepro" method="post" enctype="multipart/form-data">

        <input type="text" name="title">
        <textarea name="content"></textarea>
        <input type="file" name="file">
        <button type="submit">save</button>
    </form>
</div>
</body>
</html>